h1, h2, h3, h4 {
  font-family: 'Staatliches';
}

.container {
  width: 100%;
  max-width: 1000px;
  padding-left: 0;
  padding-right: 0;
}

.app-header {
  height: 150px;
  border-radius: 0px 0px 40px 40px;
  padding: 20px;
  background: linear-gradient(to left,#001445 0%,#002a5d 33%,#006b97 66%,#00c5cd 100%);
}

.app-footer {
  height: 150px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.img-default {
  width: 100px;
  height: 100px;
  background-image: url('/src/assets/images/default-product-image.png');
  background-position: center;
  background-size: cover;
  border-radius: 100px;
}

.text-title {
  font-family: 'Staatliches';
  font-size: 40px;
  background: linear-gradient(to right,#001445 0%,#002a5d 33%,#006b97 66%,#00c5cd 100%);
  color: transparent;
  -webkit-background-clip: text;
}

.btn-pagar {
  font-family: 'Staatliches';
  font-size: 30px;
  background: linear-gradient(to right,#001445 0%,#002a5d 33%,#006b97 66%,#00c5cd 100%);
  color: white;
  border-width: 0;
  border-radius: 40px;
  width: 100%;
}

.input-requerido {
  border-width: 1px;
  border-color: red;
}

.modal-content-envio .modal-content{
  background-color: #fff0;
  border: #fff0;
}
